
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
 }
 
 
 .bg-color{
     background: #041C32;
 }
 

 /*---------nav-bar-----------*/

 img {
     width: 60%;
 }
 header {
    position: fixed;
    z-index: 10; 
    width: 100%;
     height: 70px;
     background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-radius: 0 0 10px 10px;
 }
 .logo {
     width: 120px;
     margin-top: 8px;
 }
 nav .logo {
     display: none;
 }
 nav ul {
     display: flex;
 }
 nav ul li a {
     color: #ffffff;
     display: block;
     margin: 0 2px;
     font-weight: 600;
     padding: 8px 18px;
     transition: 0.2s;
     border-radius: 30px;
 }
 nav ul li a:hover {
     background: #f44336;
 }
 nav ul li a.active {
     color: #fff;
     background: #f44336;
 }

 
 .hamburger {
     display: none;
     height: fit-content;
     cursor: pointer;
     padding: 3px 8px;
     border-radius: 5px;
     transition: 0.2s;
 }
 .hamburger:hover {
     background: #f44336;
 }
 .hamburger .line {
     width: 30px;
     height: 2px;
     margin: 6px 0;
     background: #fff;
 }
 @media only screen and (max-width: 1100px) {
     header {
         width: 100%;
         padding: 0 20px;
     }
     nav {
         position: absolute;
         left: -300px;
         top: 0;
         z-index: 999;
         width: 280px;
         height: 100vh;
         background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
         transition: 0.2s;
         box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
     }
     #nav_check:checked ~ nav {
         left: 0;
     }
     nav .logo {
         display: block;
         height: 70px;
         display: flex;
         align-items: center;
         margin-left: 30px;
     }
     nav ul {
         display: block;
         padding: 0 20px;
         margin-top: 30px;
     }
     nav ul li a {
         margin-bottom: 5px;
         padding: 15px;
         border-radius: 5px;
     }
     .hamburger {
         display: block;
         background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
     }
 }
 
 
/*------home------*/

 .container{
     min-height: 100vh;
     width: 100%;
     background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/starbg.jpg);
     background-position: right;
     background-size: contain;
     position: relative;
 }
 
 .text-box{
     height: 100vh;
     width: 80%;
     color: #fff;
     position: absolute;
     top: 10%;
     left: 5%;
     transform: translate(-50%,-50);
     text-align: center;
     margin-left: 5%;
     padding: 15% 0%;
 }
 
 .text-box h1{
     font-size: 62px;
 }
 
 .text-box p{
     margin: 10px 0 40px;
     font-size: 14px;
     color: #fff;
 }

span{
     color: #f44336;
 }
 
 .resume-btn{
     display: inline-block;
     text-decoration: none;
     color: #fff;
     border: 1px solid #fff;
     padding: 12px 34px;
     font-size: 13px;
     background: transparent;
     position: relative;
     cursor: pointer;
 }
 
 .resume-btn:hover{
     border: 1px solid #f44336;
     background: #f44336;
     transition: 1s;
 }
 
 nav .fa{
     display: none;
 }
 
 
 /*------about----*/
 
 .about{
     width: 80%;
     margin: auto;
     text-align: center;
     padding-top: 100px;
 }
 
 h1{
     font-size: 36px;
     font-weight: 600;
     color: #fff;
 }
 
 p{
     color: rgb(255, 255, 255);
     font-size: 14px;
     font-weight: 300;
     line-height: 22px;
     padding: 10px;
 }
 
 .row{
     margin-top: 5%;
     display: flex;
     justify-content: space-between;
 }
 
 .about-col{
     flex-basis: 31%;
     background: #db8d59;
     border-radius: 10px;
     margin-bottom: 5%;
     padding: 20px 12px;
     box-sizing: border-box;
     transition: 0.5s;
 }
 
 .about-col p{
     color: #fff;
 }
 
 h3{
     text-align: center;
     font-weight: 600;
     margin: 10px 0;
     color: #fff;
 }
 
 .about-col:hover{
     box-shadow: 0 0 20px 0px #fff;
 }
 
 @media(max-width: 700px){
     .row{
         flex-direction: column;
     }
 }
 
 /*------skills------*/
 
 .skills{
 width: 80%;
 margin: auto;
 text-align: center;
 padding-top: 100px;
 padding-bottom: 50px;
 }
 
 .skills-col{
     width: 100%;
     height: 50vh;
     background: #041C32;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .skills-lang h2{
     font-weight: 600;
     letter-spacing: 1px;
     margin-top: 40px;
     margin-bottom: 5px;
     color: #fff;
     font-size: 16px;
     text-align: left;
 }
 
/*------------progress bar-----*/

 .progress-bar{
     background: #959595;
     width: 600px;
     height: 10px;
     border-radius: 5px;
 }
 
 .progress-bar div{
     height: 10px;
     border-radius: 5px;
     width: 0%;
 }
 
 .progress-bar div span{
     height: 40px;
     width: 40px;
     border-radius: 50%;
     background: black;
     float: right;
     margin-top:-15px;
     margin-right: -20px;
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .english{
     background: #f30808 ;
     animation: english 1s linear forwards;
 }
 
 .html{
     background: #e68d09 ;
     animation: html 1s linear forwards;
 }
 
 .css{
     background: #81db0c ;
     animation: css 1s linear forwards;
 }
 
 .javascript{
     background: #0bd0d3 ;
     animation: javascript 1s linear forwards;
 }

.mandarin{
     background: #0bd0d3 ;
     animation: mandarin 1s linear forwards;
 }
 
 .english span{
     border: 1px solid #f30808;
 }
 
 .html span{
     border: 1px solid #e68d09;
 }
 
 .css span{
     border: 1px solid #0cdb48;
 }

 .javascript span{
     border: 1px solid #00bcd4;
 }

 .mandarin span{
     border: 1px solid #00bcd4;
 }
 
 @keyframes english{
     100%{
         width: 90%;
     }
 }
 
 @keyframes html{
     100%{
         width: 80%;
     }
 }
 
 @keyframes css{
     100%{
         width: 65%;
     }
 }
 
 @keyframes javascript{
     100%{
         width: 20%;
     }
 }

@keyframes mandarin{
     100%{
         width: 10%;
     }
 
 /*-------progress bar mobile------*/
 
@media(max-width: 700px){
    .skills-lang{
        transform: scale(0.5);
    }
}
 
 
 /*-------portfolio---*/
 
 .portfolio{
     width: 80%;
     margin: auto;
     text-align: center;
     padding-top: 100px;
 }
 
 .portfolio-col{
    flex-basis: 32%;
     border-radius: 10px;
     margin-bottom: 30px;
     position: relative;
     overflow: hidden
 }
 
 .portfolio-col img{
     width: 100%;
     display: block;
 }

 div .portfolio-col h3{
    font-size: 15px;
 }
 
 .layer{
     background: transparent;
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     transition: 0.5s;
 }
 
 .layer:hover{
     background: rgba(226,0,0,0.7);
 }
 
 .layer h3{
     width: 100%;
     font-weight: 500;
     color: #fff;
     font-size: 26px;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     position: absolute;
     opacity: 0;
     transition: 0.5s;
 
 }
 
 .layer:hover h3{
     bottom: 49%;
     opacity: 1;
 }
 
 /*--------gallery---*/
 
 .gallery{
     width: 80%;
     margin: auto;
     text-align: center;
     padding-top: 100px;
 }
 
 .gallery-col{
     width: 100%;
     height: 100vh;
     background: #041C32;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .swiper{
     display: block;
     width: 80%;
     height: 100%;
 }
 
 .swiper-slide img {
     width: 100%;
 }
 
 .swiper .swiper-button-prev, .swiper .swiper-button-next{
     color: #ffffff;
 }
 
 .swiper .swiper-pagination-bullet-active{
     background: #fff;
 }
 
 .swiper .swiper-pagination{
     height: 25%;
     visibility: hidden;

 }

 /*-----gallery mobile-------*/

@media(max-width: 700px){
    .gallery-col{
        height: 50vh;
    }
}

@media(min-width: 300px){
    .swiper .swiper-button-prev, .swiper .swiper-button-next{
        visibility: hidden;
    }
}


 
 /*---------footer-------*/
 
 .footer{
     width: 100%;
     text-align: center;
     padding: 30px 0;
     background: #04293A;
     background-position: right;
     background-size: contain;
     position: relative;
 }
 
 .footer h2{
     margin-bottom: 25px;
     margin-top: 10px;
     font-weight: 600;
     color: #fff;
 }
 
 .icons .fa{
     color: #f44336;
     margin: 0 13px;
     cursor: pointer;
     padding: 18px 0;
 }
 
 .icons .fa:hover{
     transform: scale(1.5);
     transition: 0.5s;
 }
 
 .fa-copyright{
     color:none;
 }
 
